<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Handy Man</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
          <a class="nav-item nav-link active"  [routerLink]="['/events/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Jobs</a>
          <a class="nav-item nav-link"  [routerLink]="['/handyman/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Top Handymen</a>
          <a class="nav-item nav-link"  [routerLink]="['/customer/list']" routerLinkActive="active">Customer</a>
     </div>
    </div>
    <div class="btn-group ml-auto">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item"  [routerLink]="['/customer/edit/-1']" routerLinkActive="active">New Customer</a>
          <a class="dropdown-item"  [routerLink]="['/handyman/edit/-1']" routerLinkActive="active">Join Handyman</a>
        </div>
      </div>
    <!-- Example single danger button -->
 
  </nav>